<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyruszhang.cluboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Cluboard"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="VYpP0R73xQjEWBuozA9M51I9wCkeFOBldy7rdAsX" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="BSWKCSr3dq4zuZZCKVrNTruGSOwsO3Phz7Kbqhr7" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Login" />
        <activity
            android:name=".activity.Welcome"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ClubDetail"
            android:label="@string/title_activity_club_detail"
            android:parentActivityName=".activity.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Welcome" />
        </activity>
        <activity
            android:name=".activity.NewClub"
                android:label="@string/title_activity_new_club"
                android:parentActivityName=".activity.Welcome"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Welcome" />
        </activity>
        <activity
            android:name=".activity.Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".activity.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Welcome" />
        </activity>
        <activity
            android:name=".activity.NewEvent"
            android:label="@string/title_activity_new_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyBookmark"
            android:label="@string/title_activity_my_bookmark"
            android:parentActivityName=".activity.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Welcome" />
        </activity>
        <activity
            android:name=".activity.MyEvents"
            android:label="@string/title_activity_my_events"
            android:parentActivityName=".activity.Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Welcome" />
        </activity>
    </application>

</manifest>
